<h1 class="display-4 ml-4">New Product</h1>
<div class="contain ml-4">
    <div *ngFor="let err of errors">
        <p>{{ err.message }}</p>  
    </div>
    <form class="ml-4" (submit)="postObj()">
        <label for="">Name: </label>
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors.required">
                Name is required.
            </div>

            <div *ngIf="name.errors.minlength">
                Name must be at least 4 characters long.
            </div>
        </div>
        <input type="text" class="form-control" name="name" [(ngModel)]="newObj.name" required minlength="4"
            #name="ngModel">

        <label for="">Quantity: </label>
        <div *ngIf="qty.invalid" class="alert alert-danger">
            <div *ngIf="qty.errors.required">
                Quantity is required.
            </div>
        </div>
        <input type="number" class="form-control" name="qty" [(ngModel)]="newObj.qty" required #qty="ngModel">

        <label for="">Price: </label>
        <div *ngIf="price.invalid" class="alert alert-danger">
            <div *ngIf="price.errors.required">
                Price is required.
            </div>
        </div>
        <input type="number" class="form-control" name="price" [(ngModel)]="newObj.price" required #price="ngModel">

        <button type="submit" class="btn btn-primary mr-4 mt-3">submit</button>

        <button type="submit" class="btn btn-primary mt-3" [disabled]="(newObj.name.length < 4) || (price.errors?.required) || (qty.errors?.required)">submit</button>
    </form>
</div>
<button class="btn btn-danger ml-5 mt-2" [routerLink]="['/products']">cancel</button>